<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/button.css">
<header>
    <nav class="main-nav">
        <a href="/" class="logo-link">
            <img src="/images/logo.png" class="logo" alt="Clippio">
        </a>
        <div class="nav-links">
            <% if (locals.user) { %>
                <a href="/profile" class="btn">Profile</a>
                <a href="/upload" class="btn">Upload</a>
                <a href="/logout" class="btn">Logout</a>
            <% } %>
        </div>
    </nav>
</header>