<%- contentFor('body') %>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/button.css">

<div class="hero">
    <nav>
        <div class="logo-container">
            <img src="/images/logo.png" alt="Clippio Logo" class="logo">
                <span class="logo-text">CLIPPIO</span>
        </div>
        <a href="/login" class="btn">Login</a>
    </nav>
    <div class="content">
        <h1><b>Transfer your files with <span>CLIPPIO</span></b></h1>
        <form>
            <input type="text" placeholder="Enter your 6 digit code">
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <p class="landing-footer">&copy; <%= new Date().getFullYear() %> Clippio</p>
</div>

<script>
    document.querySelector('form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const passcode = e.target[0].value;

        if (passcode.length !== 4 || isNaN(passcode)) {
            alert('Please enter a valid 6-digit code');
            return;
        }

        try {
            const response = await fetch('/verifyPasscode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ passcode })
            });

            const result = await response.json();
            if (response.ok) {
                alert(result.message);
                // window.location.href = '/upload-guest';
                window.location.href = result.redirectUrl; // Redirect to the download page
            } else {
                alert(result.error);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An unexpected error occurred. Please try again later.');
        }
    });
</script>
