<%- contentFor('body') %>
<div class="hero">
    <nav>
        <a href="/" class="logo-link">
            <img src="/images/logo.png" class="logo" alt="Clippio">
        </a>
        <a href="/login" class="btn">Login</a>
    </nav>
    <div class="content">
        <h1><b>Transfer your files with <span>Clippio</span></b></h1>
        <form>
            <input type="text" placeholder="Enter your token">
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <p class="landing-footer">&copy; <%= new Date().getFullYear() %> Clippio</p>
</div>