<%- contentFor('body') %>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/otp.css">
<link rel="stylesheet" href="/css/button.css">

<nav style="backdrop-filter: none;">
    <div class="logo-container">
        <img src="/images/logo.png" alt="Clippio Logo" class="logo">
            <span class="logo-text">CLIPPIO</span>
    </div>
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="nav-links">
        <!-- Notice: The false value is not equal to null value here, they have different purposes -->
        <% if (locals.isGuest === false) { %>
            <a href="/upload" class="nav-right">
                <img src="/images/upload.png" alt="Upload">
                <p>Upload</p>
            </a>
        <% } else if (locals.isGuest === true) { %>
            <!-- Not display upload button for people who already registered with phone-->
        <% } else { %>
            <!-- no isGuest field -->
            <a href="/upload-guest" class="nav-right">
                <img src="/images/upload.png" alt="Upload">
                <p>Upload</p>
            </a>
        <% } %>
        <a href="/download" class="nav-right">
            <img src="/images/download.png" alt="Download">
            <p>Download</p>
        </a>
        <a href="/login" class="btn">Login</a>
    </div>
</nav>
<div class="hero">
    <div class="content">
        <h1><b>Transfer your files with <span>CLIPPIO</span></b></h1>
        <p>Enter 6-digit passcode or login to retrieve your files</p>
        <!-- OTP form -->
        <div class="container">
            <div class="otp-form">
                <div class="otp-inputs">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                </div>
                <div class="status-message"></div>
            </div>
        </div>

    </div>
    <p class="landing-footer">&copy; <%= new Date().getFullYear() %> Clippio</p>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.nav-links');

    if (hamburger) {
        hamburger.addEventListener('click', function() {
            hamburger.classList.toggle('active');
            navLinks.classList.toggle('active');
        });
    }
});
</script>

<!-- script -->
<script src="/js/verifyPasscode.js"></script>
