<%- contentFor('body') %>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/otp.css">
<link rel="stylesheet" href="/css/button.css">

<nav>
    <div class="logo-container">
        <img src="/images/logo.png" alt="Clippio Logo" class="logo">
            <span class="logo-text">CLIPPIO</span>
    </div>
    <a href="/login" class="btn">Login</a>
</nav>
<div class="hero">
    <div class="content">
        <h1><b>Transfer your files with <span>CLIPPIO</span></b></h1>

        <!-- OTP form -->
        <div class="container">
            <div class="otp-form">
                <div class="otp-inputs">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                </div>
                <div class="status-message"></div>
            </div>
        </div>

    </div>
    <p class="landing-footer">&copy; <%= new Date().getFullYear() %> Clippio</p>
</div>

<!-- script -->
<script src="/js/verifyPasscode.js"></script>
