<%- contentFor('body') %>
<link rel="stylesheet" href="/css/upload.css">
<link rel="stylesheet" href="/css/guest-success.css">

<div class="upload-container">
    <h1 style="margin-top: 90px;">Upload Successful!</h1>
    <div class="success-content">
        <p>Your content has been uploaded successfully.</p>
        <div class="passcode-box">
            <h2>Your Access Code</h2>
            <div class="passcode"><%= passcode %></div>
            <p class="passcode-info">Please save this code. You'll need it to access your content.</p>
        </div>
    </div>
</div>