<%- contentFor('body') %>
<link rel="stylesheet" href="/css/upload.css">
<h1>Send Content</h1>

<div class="upload-container">
    <!-- Form to upload text -->
    <form action="/upload/text" method="POST">
        <textarea name="text" placeholder="Enter description" rows="5" required></textarea>
        <button type="submit">Upload Text</button>
    </form>

    <!-- Form to upload files -->
    <form action="/upload/file" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file" required>
        <label for="file">Choose a file</label>
        <button type="submit">Upload File</button>
    </form>
</div>
