/* button.css */
  
  .btn {
    background: linear-gradient(#43c6ac, #164354);
    color: #bbdede;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 30px;
    line-height: 1.2;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
  background: linear-gradient(#4ddbc0, #164354);
  color: #bbdede;
  text-decoration: none;
}

/* form .btn {
    padding: 0;
    width: 150px;
    height: 65px;
    border-radius: 31px;
} */
