body {
    font-family: "Poppins", sans-serif;
    background-image: url(/images/profile.png);
    background-size: cover;
    background-position: center;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    color: #bbdede;
}


.download-button-container {
    text-align: center;
    margin: 2rem auto;
    max-width: 800px;
}

.download-button {
    display: inline-block;
        padding: 12px 24px;
        background: linear-gradient(135deg, #43c6ac, #164354);
        color: #bbdede;
        text-decoration: none;
        border-radius: 30px;
        font-weight: 600;
        transition: all 0.3s ease;
        border: none;
        cursor: pointer;
}

.download-button:hover {
    background: linear-gradient(135deg, #4ddbc0, #1d5469);
    transform: translateY(-2px);
}


.ocr-container {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.ocr-button {
    padding: 12px 24px;
        background: linear-gradient(135deg, #2e4d8f, #164354);
        color: #bbdede;
        border: none;
        border-radius: 30px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
}


.ocr-button:hover {
    background: linear-gradient(135deg, #375fb2, #1d5469);
    transform: translateY(-2px);
}