body {
    font-family: "Poppins", sans-serif;
    background-image: url(/images/profile.png);
    background-size: cover;
    background-position: center;
    line-height: 1.6;
}

.wrapper {
    max-width: 700px;
    background: transparent;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #bbdede;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #bbdede;
    margin-bottom: 30px;
}

.profile-picture {
    padding: 0px 20px;
    text-align: center;
    margin-bottom: 30px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

}

.upload-btn {
    /* margin: auto;
    width: 50%; */
    display: inline-block;
    background-color: #2e4d8f;
    color: #bbdede;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-btn:hover {
    background-color: #2980b9;
}

input[type="file"] {
    display: none;
}

.user-info,
.user-password,
.linked-accounts,
.generate-passcode,
.logout-delete {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
}

button {
    /* margin:auto;
    width: 50%; */
    font-size: 16px;
    font-weight: 600;
    background-color: #69e0c8;
    color: #191654;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #34bd99;
}

#editButton {
    background-color: #2e4d8f;
    color: #bbdede;
}

#editButton:hover {
    background-color: #2980b9;
}

#cancelButton {
    background-color: #e74c3c;
}

#cancelButton:hover {
    background-color: #c0392b;
}

.linked-accounts,
.generate-passcode {
    text-align: center;
}

.linked-accounts h3,
.generate-passcode h3 {
    margin-bottom: 15px;
    color: #2c3e50;
    font-size: 20px;
}

.passcode {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.delete-account {
    text-align: center;
    margin-top: 30px;
}

.delete-account button {
    background-color: #e74c3c;
}

.delete-account button:hover {
    background-color: #c0392b;
}

@media (max-width: 600px) {
    .wrapper {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}